@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

h3{
    font-family: 'Anton', sans-serif;
    color: #000000;
    font-size: large;
}

strong{
    color: #ffffff;
}

textarea {
    resize: none;
    overflow:hidden;
    letter-spacing: 5px;
  }

  .form-control{
    border: none;
    padding-left: 10px;
  }

.leftComponent{
    width: 25%;
    height: 100vh;
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.rightComponent{
    width: 30%;
    height: 100vh;
    background-color: yellow;
}

.centerComponent{
    padding-top: 20px;
    width: 45%;
    height: 100vh;
    background-color: transparent;
    position: relative;
}


.content-head{
    justify-items: normal;
    display: flex;
    border-bottom-color: whitesmoke;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-width: 2px;
    border-style: solid;
}
.menuFirst{
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 30px;
}

.menuItems{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 30px;
}

.menuItems:hover{
    background-color: #E8F5FE;
}

.profileMenu{
    width: 250px;
    display: flex;
    flex-direction: row;
    margin-top: 130px;
    cursor: pointer;
    border-radius: 40px;
    padding-left: 5px;
    padding-top: 8px;   
}

.profileMenu:hover{
    background-color: #E8F5FE;
}
.tweet{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    background-color: #1DA1F2;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

  /* @media screen and (max-width: 500px) {
    .leftComponent {
    display: none;
    }

    .centerComponent{
        width: 100% !important;
    }

    .rightComponent{
        display: none;
     }
  }

  @media screen and (max-width: 1282px) {
    .leftComponent {
    width: 20%;
    background-color: blue;
    }

    .rightComponent{
       display: none;
    }

    .centerComponent{
        width: 80%;
    }
  } */